<section class="advantage-section">
    <div class="container">
        <ul class="row advantage-list">
            <li class="col-md-6 col-lg-3">
                <div class="icon">
                    <i class="ti-ruler-pencil"></i>
                </div>
                <div class="text">
                    <h2 class="h5 mb-0">De echte vakman</h2>
                    <p>Bel of kom langs!</p>
                </div>
            </li>
            <li class="col-md-6 col-lg-3">
                <div class="icon">
                    <i class="ti-layout-grid4"></i>
                </div>
                <div class="text">
                    <h2 class="h5 mb-0">Groot assortiment</h2>
                    <p>Meer dan 2000 producten</p>
                </div>
            </li>
            <li class="col-md-6 col-lg-3">
                <div class="icon">
                    <i class="ti-truck"></i>
                </div>
                <div class="text">
                    <h2 class="h5 mb-0">Snelle levering</h2>
                    <p>Binnen 2 dagen geleverd</p>
                </div>
            </li>
            <li class="col-md-6 col-lg-3">
                <div class="icon">
                    <img src="/images/img-15.png" srcset="/images/img-15-2x.png 2x, /images/img-15-2x.png 3x" alt="WebwinkelKeur">
                </div>
                <div class="text">
                    <h2 class="h5 mb-0 text-danger">WebwinkelKeur</h2>
                    <p>Veilig &amp; vertrouwd</p>
                </div>
            </li>
        </ul>
    </div>
</section>