{% extends 'base.layout.html.twig' %}
{% block title %}{{ entry.title }}{% endblock %}

{% block breadCrumbs %}
{% endblock %}

{% block main %}
    <section class="hero-article">
        <!-- breadcrumb navigation -->
        <nav aria-label="breadcrumb" class="hero-breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Dolor sit amet</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Consectetur adipiscing</li>
                </ol>
            </div>
        </nav>
        {% if entry.blogImage is defined %}
            {% set blogImage = entry.blogImage.one() %}
            {% set imageUrl = blogImage is null ? 'https://dummyimage.com/968X484' : blogImage.getUrl() %}
            <div class="img-wrap bg-stretch">
                <span data-srcset="{{ imageUrl }}"></span>
            </div>
        {% endif %}
        <div class="container">
            <!-- posts text -->
            <div class="preview-text">
                <div class="date">
                    <time datetime="{{ entry.blogDate|date('Y-m-d') }}">{{ entry.blogDate|date(blogSettings.dateFormat) }}</time>
                </div>
                <h2>{{ entry.title }}</h2>
                <p>{{ entry.blogPreviewText }}</p>
            </div>
        </div>
    </section>
    <section class="main-text-section">
        <div class="main-text-holder">
            {{ entry.blogMainText }}
        </div>
    </section>
    {% include "blogs/advantage_section.twig" %}
    {% include "blogs/product_images_section.twig" %}
    {% include "blogs/popular_products_section.twig" %}
    {% include "blogs/visual_section.twig" %}
    {% include "jumbotron_section.twig" %}
{% endblock %}