<section class="popular-products">
    <div class="container">
        <header class="header-section">
            <h1 class="h2">Populaire producten</h1>
        </header>
        <!-- products -->
        <div class="row">
            <!-- products item -->
            <div class="col-6 col-lg-3">
                <div class="porduct-item-link card">
                    <span class="discount-wrap">-20%</span>
                    <span class="img-wrap">
									<!-- picturefill: retina only -->
							    <a href="#"><img src="/images/img-09.jpg" srcset="/images/img-09-2x.jpg 2x, /images/img-09-2x.jpg 3x" alt="Design sauna-emmer white aluminium" class="card-img-top"></a>
									<div class="alert-holder">
										<a href="#" class="alert-text">In winkelmand</a>
										<a href="#" class="add-button"><i class="ti-heart"></i></a>
									</div>
								</span>
                    <!-- product description -->
                    <a href="#" class="card-body">
                        <span class="card-title">Design sauna-emmer white aluminium</span>
                        <div class="text-right">
                            <span class="old-price card-link">79.95</span>
                            <span class="price card-link">59.95</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- products item -->
            <div class="col-6 col-lg-3">
                <div class="porduct-item-link card">
                    <span class="discount-wrap">-20%</span>
                    <span class="img-wrap">
									<!-- picturefill: retina only -->
							    <a href="#"><img src="/images/img-08.png" srcset="/images/img-08-2x.png 2x, /images/img-08-2x.png 3x" alt="Design sauna-emmer white aluminium" class="card-img-top"></a>
									<div class="alert-holder">
										<a href="#" class="alert-text">In winkelmand</a>
										<a href="#" class="add-button"><i class="ti-heart"></i></a>
									</div>
								</span>
                    <!-- product description -->
                    <a href="#" class="card-body">
                        <span class="card-title">Design sauna-emmer white aluminium</span>
                        <div class="text-right">
                            <span class="old-price card-link">79.95</span>
                            <span class="price card-link">59.95</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- products item -->
            <div class="col-6 col-lg-3">
                <div class="porduct-item-link card">
                    <span class="discount-wrap">-20%</span>
                    <span class="img-wrap">
									<!-- picturefill: retina only -->
							    <a href="#"><img src="/images/img-07.png" srcset="/images/img-07-2x.png 2x, /images/img-07-2x.png 3x" alt="Design sauna-emmer white aluminium" class="card-img-top"></a>
									<div class="alert-holder">
										<a href="#" class="alert-text">In winkelmand</a>
										<a href="#" class="add-button"><i class="ti-heart"></i></a>
									</div>
								</span>
                    <!-- product description -->
                    <a href="#" class="card-body">
                        <span class="card-title">Design sauna-emmer white aluminium</span>
                        <div class="text-right">
                            <span class="old-price card-link">79.95</span>
                            <span class="price card-link">59.95</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- products item -->
            <div class="col-6 col-lg-3">
                <div class="porduct-item-link card">
                    <span class="discount-wrap">-20%</span>
                    <span class="img-wrap">
									<!-- picturefill: retina only -->
							    <a href="#"><img src="/images/img-08.png" srcset="/images/img-08-2x.png 2x, /images/img-08-2x.png 3x" alt="Design sauna-emmer white aluminium" class="card-img-top"></a>
									<div class="alert-holder">
										<a href="#" class="alert-text">In winkelmand</a>
										<a href="#" class="add-button"><i class="ti-heart"></i></a>
									</div>
								</span>
                    <!-- product description -->
                    <a href="#" class="card-body">
                        <span class="card-title">Design sauna-emmer white aluminium</span>
                        <div class="text-right">
                            <span class="old-price card-link">79.95</span>
                            <span class="price card-link">59.95</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>