<section class="products-img-section">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <!-- product link small -->
                        <a href="#" class="product-link-holder sm">
                            <div class="img-wrap">
                                <!-- picturefill: retina only -->
                                <img src="/images/img-06.jpg" srcset="/images/img-06-2x.jpg 2x, /images/img-06-2x.jpg 3x" alt="image product">
                            </div>
                            <div class="text bg-light">
                                <p class="title">Voorzien van een swivel op de kabel</p>
                                <p>De kabel kan gemakkelijk rond draaien in de swivel.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <!-- product link small -->
                        <a href="#" class="product-link-holder sm">
                            <div class="img-wrap">
                                <!-- picturefill: retina only -->
                                <img src="/images/img-09.jpg" srcset="/images/img-09-2x.jpg 2x, /images/img-09-2x.jpg 3x" alt="image product">
                            </div>
                            <div class="text bg-light">
                                <p class="title">Voorzien van drie borstels op de onderzijde</p>
                                <p>De kabel kan gemakkelijk rond draaien in de swivel.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- product link large -->
                <a href="#" class="product-link-holder lg">
                    <div class="img-wrap">
                        <!-- picturefill: retina only -->
                        <img src="/images/img-03.jpg" srcset="/images/img-03-2x.jpg 2x, /images/img-03-2x.jpg 3x" alt="image product">
                    </div>
                    <div class="text bg-light">
                        <p class="title">Het installeren van een bolsauna</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor volutpat magna et interdum. Praesent blandit lectus vitae mi suscipit bibendum. Cras in porta leo, sit amet faucibus sapien.</p>
                    </div>
                </a>
                <!-- product link large -->
                <a href="#" class="product-link-holder lg">
                    <div class="img-wrap">
                        <!-- picturefill: retina only -->
                        <img src="/images/img-13.jpg" srcset="/images/img-13-2x.jpg 2x, /images/img-13-2x.jpg 3x" alt="image product">
                    </div>
                    <div class="text bg-light">
                        <p class="title">Het installeren van een bolsauna</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor volutpat magna et interdum. Praesent blandit lectus vitae mi suscipit bibendum. Cras in porta leo, sit amet faucibus sapien.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>