/* ---------------------------------------------------------
	1. Reset
	2. Embedded fonts styles
	3. Typography styles
	4. Fancybox popup styles
	5. Custom form styles
	6. Carousel styles
	7. Common site styles
	8. Styles for responsive breakpoints
	---------------------------------------------------------*/

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";


@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
/* ---------------------------------------------------------
	1. Reset
	---------------------------------------------------------*/
@import 'base/helpers';

/* ---------------------------------------------------------
	2. Embedded fonts styles
	---------------------------------------------------------*/
@import "vendors/themify-icons";
/* ---------------------------------------------------------
	3. Typography styles
	---------------------------------------------------------*/
@import "vendors/typography";
@import "fancybox.css";
/* ---------------------------------------------------------
	4. Fancybox popup styles
	---------------------------------------------------------*/
@import "vendors/fancybox-popup";

@import "fancybox.css";
/* ---------------------------------------------------------
	5. Custom form styles
	---------------------------------------------------------*/
@import "vendors/jcf";
/* ---------------------------------------------------------
	6. Carousel styles
	---------------------------------------------------------*/
@import "vendors/slick";
/* ---------------------------------------------------------
	7. Common site styles
	---------------------------------------------------------*/
/* header styles */
@import 'components/header';
/* hero slideshow styles */
@import 'components/hero-slideshow';
/* products preview section styles */
@import 'components/products-preview-section';
/* advantage section styles */
@import 'components/advantage-section';
/* product item styles */
@import 'components/product-item';
/* main text section styles */
@import 'components/main-text-section';
/* visual section styles */
@import 'components/visual-section';
/* footer styles */
@import 'components/footer';
/* hero small styles */
@import 'components/hero-small';
/* article section styles */
@import 'components/articles-section';
/* hero article styles */
@import 'components/hero-article';
/* contact section styles */
@import 'components/contact-section';
/* main form styles */
@import 'components/form';
/* filters styles */
@import 'components/filters';
/* catalog styles */
@import 'components/catalog';
/* help block styles */
@import 'components/help-block';
/* product slick styles */
@import 'components/product-slick-slider';
/* details info styles */
@import 'components/details-info';
/* lightbox video styles */
@import 'components/lightbox-video';
/* popup side styles */
@import 'components/popup-side';
/* brand section styles */
@import 'components/brand-section';
/* lightbox timing styles */
@import 'components/lightbox-timing';
/* cart section styles */
@import 'components/cart-section';
/* progress bar styles */
@import 'components/progress-bar';
/* checkout section styles */
@import 'components/checkout-section';
/* personal data styles */
@import 'components/personal-data';
/* main form checkout styles */
@import 'components/main-form-checkout';
/* account section styles */
@import 'components/account-section';
/* card address styles */
@import 'components/card-address';

#wrapper {
	overflow: hidden;
	height: 100%;
}

body {
	min-width: $base-min-width;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

/* ---------------------------------------------------------
	8. Styles for responsive breakpoints
	---------------------------------------------------------*/