{% extends 'shop/_layouts/mainOrder' %}

{% block main %}

    {% set addressId = craft.app.request.param('addressId') %}
    {% set redirect = craft.app.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
    {% endif %}

    <h1>
        {% if addressId %}
            Edit Address
        {% else %}
            Add a new address
        {% endif %}
    </h1>

    <form method="post">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="commerce/customer-addresses/save">
        {% if redirect %}
            {{ redirectInput(redirect) }}
        {% else %}
            {{ redirectInput('shop/customer/addresses') }}
        {% endif %}

        {% if addressId %}
            <input type="hidden" name="address[id]" value="{{ addressId }}">
        {% endif %}

        {% include 'shop/_includes/addresses/form' %}
        {% set isPrimaryBilling = cart.customer.primaryBillingAddressId == addressId %}
        {% set isPrimaryShipping = cart.customer.primaryShippingAddressId == addressId %}

        <hr />

        <p>
            <label for="makePrimaryShippingAddress"><input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="checkbox" {{ isPrimaryShipping ? 'checked' :'' }}/><span class="label-body">Make this the primary shipping address</span></label>
        </p>

        <p>
            <label for="makePrimaryBillingAddress"><input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="checkbox" {{ isPrimaryBilling ? 'checked' :'' }}/><span class="label-body">Make this the primary billing address</span></label>
        </p>

        <div class="mt-6">
            <input type="submit" value="Save Address">
        </div>
    </form>

    <div class="mt-6">
        {% if redirect %}
            <a href="/{{ redirect }}">Cancel</a>
        {% else %}
            <a href="{{ url('shop/customer/addresses') }}">Cancel</a>
        {% endif %}
    </div>

{% endblock %}
