{% extends 'shop/_layouts/main' %}

{% block addressesLink %}
    {% set active = true %}
    {{ parent() }}
{% endblock %}

{% set currentCustomer = craft.commerce.customers.customer %}
{% if not currentCustomer %}
    {% redirect 'shop/customer' %}
{% endif %}

{% set primaryAddresses = [] %}

{% block content %}
    <div class="account-content">
        <h2 class="account-head-small black mb-3 mb-xl-4">Adressen</h2>
        <div class="row mb-lg-2">
            <div class="col-auto col-md-6">
                <h3 class="title-account">Standaardadres voor bezorgen</h3>
                <div class="card-address">
                    <div class="icon"><i class="ti-package"></i></div>
                    {% set primaryShippingAddress = currentCustomer.primaryShippingAddress %}
                    {% if primaryShippingAddress %}
                        {% set primaryAddresses = primaryAddresses|merge([primaryShippingAddress.id]) %}
                        <div class="info">
                            <address>
                                {{ primaryShippingAddress.address1 }} <br>
                                {{ primaryShippingAddress.address2 }} <br>
                                {{ primaryShippingAddress.country.name }}
                            </address>
                            <div class="links-wrap">
                                <a href="{{ url('shop/customer/addresses/edit') }}?addressId={{ primaryShippingAddress.id }}" class="text-warning"><i class="ti-pencil-alt2 rotate-icon"></i><span class="text-link">Aanpassen</span></a>
                                <a href="#" class="text-warning"><i class="ti-trash"></i><span class="text-link">Verwijderen</span></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-auto col-md-6">
                <h3 class="title-account">Standaardadres voor facturatie</h3>
                <div class="card-address">
                    <div class="icon"><i class="ti-credit-card"></i></div>
                    {% set primaryBillingAddress = currentCustomer.primaryBillingAddress %}
                    {% if primaryBillingAddress %}
                        {% set primaryAddresses = primaryAddresses|merge([primaryBillingAddress.id]) %}
                        <div class="info">
                            <address>
                                {{ primaryBillingAddress.address1 }} <br>
                                {{ primaryBillingAddress.address2 }} <br>
                                {{ primaryBillingAddress.country.name }}
                            </address>
                            <div class="links-wrap">
                                <a href="{{ url('shop/customer/addresses/edit') }}?addressId={{ primaryBillingAddress.id }}" class="text-warning"><i class="ti-pencil-alt2 rotate-icon"></i><span class="text-link">Aanpassen</span></a>
                                <a href="#" class="text-warning"><i class="ti-trash"></i><span class="text-link">Verwijderen</span></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <h3 class="title-account mb-4">Andere adressen</h3>
        <div class="row">
            {% for address in currentCustomer.addresses %}
                {% if address.id not in primaryAddresses %}
                    <div class="col-auto col-md-6 col-lg-4">
                        <div class="card-address sm">
                            <div class="info">
                                <address>
                                    {{ address.address1 }} <br>
                                    {{ address.address2 }} <br>
                                    {{ address.country.name }}
                                </address>
                                <div class="links-wrap">
                                    <a href="{{ url('shop/customer/addresses/edit') }}?addressId={{ address.id }}" class="text-warning"><i class="ti-pencil-alt2 rotate-icon"></i><span class="text-link">Aanpassen</span></a>
                                    <a href="#" class="text-warning"><i class="ti-trash"></i><span class="text-link">Verwijderen</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}