{% set currentCategoryId = category is defined and category is not empty ? category.id : null %}
{% set categories = craft.categoryTree.getTree('productCategories', currentCategoryId) %}

{% set urlQuery = category['algoliaOptions'] is defined and category.algoliaOptions is not empty ?  '?' ~ category.algoliaOptions : '' %}
{%
    if craft.request.getParam('dFR') is defined
    and craft.request.getParam('dFR')['isOnSale'] is defined
    and craft.request.getParam('dFR')['isOnSale'][0] is defined
%}
    {% set urlQuery = (urlQuery ? '&' : '?') ~ 'dFR[isOnSale][0]=1' %}
{% endif %}
{%
    if craft.request.getParam('dFR') is defined
    and craft.request.getParam('dFR')['productBrands.title'] is defined
    and craft.request.getParam('dFR')['productBrands.title'][0] is defined
%}
    {% set urlQuery = (urlQuery ? '&' : '?') ~ 'dFR[productBrands.title][0]=' ~ craft.request.getParam('dFR')['productBrands.title'][0]|url_encode %}
{% endif %}

<a href="#" class="aside-inner-close"><i class="ti-close"></i></a>
<h2>{{ category is defined ? category.title : 'Categories'|t }}</h2>
<div class="aside-menu-item">
    <!-- accordion -->
    <ul class="menu-accordion">
        {% for category1 in categories %}
            <li class="{{ category1.active ? 'active' : '' }}"><a class="{{ category1.active ? 'active' : '' }}" href="{{ category1.url }}/{{ urlQuery }}"><i class="icon ti-arrow-right"></i>{{ category1.title }}</a>
                {% if category1.active %}
                    <ul class="menu-slide">
                        {% for category2 in category1.children %}
                            <li class="li {{ category1.active ? 'active' : '' }}"><a class="{{ category2.active ? 'active' : '' }}" href="{{ category2.url }}/{{ urlQuery }}">{{ category2.title }}</a>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
