.cart-section {
  padding: rem-calc(16 0);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(20 0 80);
  }
}

.cart-form {
  h1 {
    font-size: rem-calc(28);
    margin-bottom: rem-calc(10);
  }

  .alert {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: rem-calc(10);
    padding: rem-calc(25 40 25 30);
    font-size: rem-calc(20);

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      margin-right: 0;
    }

    .close {
      opacity: 1;
      text-shadow: none;
    }
  }
}

.header-cart {
  margin-bottom: rem-calc(10);

  .btn {
    width: 100%;
    font-size: rem-calc(18);

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
}

.cart-list {
  @extend %listreset;

  img {
    max-width: 100%;
  }

  .cart-list-item {
    position: relative;
    margin-bottom: rem-calc(10px);

    &:last-of-type {
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(10);
      }
    }

    @include media-breakpoint-up(lg) {
      padding-left: rem-calc(180);
    }
    
    @include media-breakpoint-up(xl) {
      padding-left: rem-calc(190);
    }
  }

  .close-btn {
    position: absolute;
    top: 22px;
    right: 0;
    border: none;
    @include size(25px);
    font-size: 12px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    background-color: $white;
    color: $black;
    
    @include media-breakpoint-up(lg) {
      @include size(40px);
      right: 30px;
      top: 20px;
      font-size: 16px;
    }
  }
  
  .info {
    background-color: $gray-200-l;
    margin-left: -30px;
    margin-right: -30px;
    padding: rem-calc(22 30 25);

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      margin-right: 0;
      padding: rem-calc(26 30 25);
    }
  }
  
  .additional-info-list {
    padding-top: rem-calc(20);
    padding-left: rem-calc(83);
    padding-bottom: rem-calc(30);
    
    @include media-breakpoint-up(lg) {
      padding: rem-calc(17 0 14 30);
      background-color: $gray-200-l;

    }
  }
}

.info-heading {
  display: flex;
  margin-bottom: rem-calc(21);
  padding-right: rem-calc(32);

  @include media-breakpoint-up(lg) {
    padding-right: rem-calc(40);
  }
  
  h2 {
    font-size: rem-calc(16);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(15);
    }
  }
  
  .img-wrap {
    width: 53px;
    flex-shrink: 0;
    margin-right: rem-calc(28);

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 170px;
    }
  }
}

.cart-item-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: rem-calc(10);
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(14);
  }

  dt, dd {
    width: 48%;
    margin-bottom: rem-calc(1);
  }

  dt {
    font-weight: normal;
  }
}

.cart-info-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    align-items: flex-end;
  }
  
  .jcf-number {
    width: 80px;
    padding-right: rem-calc(36);
    
    input {
      font-size: rem-calc(18);
      padding: 0;
    }

    .jcf-btn-dec, .jcf-btn-inc {
      width: 34px;
    }
  }

  .product-price {
    font-size: rem-calc(20);
    margin-left: rem-calc(10);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .old-price {
      font-size: rem-calc(14);
    }

    span {
      &+span {
        margin-left: rem-calc(16);
      }
    }
  }
}

.additional-info-list {
  @extend %listreset;
  font-size: rem-calc(12);
  line-height: 1.67;

  li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: rem-calc(35);
    z-index: 1;

    &:after {
      font-family: 'themify';
      content: "\e61a";
      position: absolute;
      left: 22px;
      top: calc(100% + 10px);
      @include size(14px);
      border-radius: 50%;
      font-size: 9px;
      line-height: 15px;
      color: $white;
      text-align: center;
      background-color: $gray-400;
    }

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }
  }

  .img-wrap {
    width: 53px;
    flex-shrink: 0;
    margin-right: rem-calc(30);
    
    @include media-breakpoint-up(xl) {
      width: 60px;
    }
  }

  p {
    display: none;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .addit-title {
    display: block;
    color: $black;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(14);
      line-height: 2.14;
    }
  }
}

// footer cart ============================================
.footer-cart {
  .btns-wrap {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(24);    
    }

    .btn {
      &:first-of-type {
        @include media-breakpoint-up(lg) {
          min-width: 184px;
        }
      }

      &:last-of-type {
        @include media-breakpoint-up(lg) {
          min-width: 142px;          
        }
      }
    }
  }
}

.single-input-wrap {
  padding: rem-calc(19 30);
  margin-left: -30px;
  margin-right: -30px;
  background-color: $gray-200-l;

  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .single-input {
    @include media-breakpoint-up(lg) {
      width: 48%;
      margin-left: rem-calc(10);
    }
  }

  .form-control {
    height: 42px;
    width: calc(100% - 83px);
    padding-left: rem-calc(13);

    @include media-breakpoint-up(lg) {
      width: calc(100% - 51px);
      
      @include placeholder {
        font-size: 0;
      }
    }
  }

  .btn {
    min-width: 0;
    padding: rem-calc(9);
    @include size(42px);
  }
}

.shipping-info {
  padding: rem-calc(10 30 20);
  margin-left: -30px;
  margin-right: -30px;
  font-size: rem-calc(12);
  line-height: 1.58;
  
  @include media-breakpoint-up(lg) {
    padding: rem-calc(26 30 16);
    margin: rem-calc(0 0 10);
    background-color: $gray-200-l;
    font-size: rem-calc(14);
  }

  h3 {
    margin-bottom: rem-calc(15);
  }

  ul {
    @extend %listreset;

    @include media-breakpoint-up(lg) {
      text-align: right;
      line-height: 2.14;
    }
  }

  .shipping-price {
    font-weight: 700;
    color: $warning;
    line-height: 2.5;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
    }
  }
}

.total-wrap {
  font-size: rem-calc(20);
  padding: rem-calc(22 30);
  margin-left: -30px;
  margin-right: -30px;
  background-color: $gray-200-l;

  @include media-breakpoint-up(lg) {
    margin: rem-calc(0 0 22);
  }

  .small {
    font-size: 60%;

    @include media-breakpoint-up(lg) {
      font-size: inherit;
    }
  }

  .price {
    font-size: rem-calc(22);

    // &:before {
    //   content: '€ ';
    // }
  }
}

.btns-wrap {
  padding: rem-calc(20 0 10);

  .btn {
    width: 100%;
    margin-bottom: rem-calc(10);

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  .btn-light {
    background-color: $gray-200-l;
  }

  .btn-warning {
    font-size: rem-calc(18);
  }
}