.catalog-section {
  padding: rem-calc(20 0);

  @include media-breakpoint-up(lg) {
    padding: 51px 0;
  }
  
  .porduct-item-link {
    @include media-breakpoint-up(lg) {
      margin: rem-calc(0 0 30);
      border-color: $gray-400;
    }
  }
  
  .search-sort-wrap {
    margin: rem-calc(0 0 20);
  
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .search-nav-form {
      margin-bottom: rem-calc(10);
  
      @include media-breakpoint-up(lg) {
        min-width: 500px;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
        min-width: 570px;
      }
      
      .icon {
        font-size: 19px;
  
        @include media-breakpoint-up(lg) {
          font-size: 24px;
          right: 12px;
        }
      }
    }
    
    .custom-search-label {
      .form-control {
        height: 40px;
        padding-left: rem-calc(17);
        font-size: rem-calc(14);
        border-radius: $border-radius;
        font-weight: normal;
        
        @include placeholder {
          font-style: italic;
        }
        
        @include media-breakpoint-up(lg) {
          max-width: none;
          height: 50px;
          font-size: rem-calc(16);
        }
      }
    }
  }
  
  .sort-link {
    font-size: rem-calc(11);
    color: $gray-700;

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(14);
    }
  
    strong {
      color: $black;

      @include media-breakpoint-up(lg) {
        font-weight: normal;
      }
    }

    .icon {
      color: $warning;
    }
  }
}


// dropdown sort ==================
.dropdown-sort-wrap {
  font-size: rem-calc(14);
}