.checkout-content {
  padding: rem-calc(28 0 30);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(62 0 100);
  }

  h2 {
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
      margin-bottom: rem-calc(25);
    }
  }

  .small {
    font-size: rem-calc(14);
  }

  .checkout-form-header {
    font-weight: 300;
  }
}

.complete-text {
  h2 {
    font-size: rem-calc(28);
  }

  .btn {
    @include media-breakpoint-up(lg) {
      min-width: 222px;
    }
  }
}
