.contact-section {
  color: $gray-700;
  padding: rem-calc(42 0 30);
  
  @include media-breakpoint-up(lg) {
    padding: rem-calc(42 0 95);
  }
}

.contact-aside {
  padding: rem-calc(0 15 15);

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }

  h2 {
    position: relative;
    padding-bottom: rem-calc(8);
    margin-bottom: rem-calc(16);

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: $orange;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(18);
      padding-bottom: rem-calc(12);
    }
  }
}

.select-open-holder {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid $gray-400;
  margin: rem-calc(0 0 15);
  z-index: 6;

  &:after {
    content: "\e64b";
    font-family: 'themify';
    position: absolute;
    top: 50%;
    right: 15px;
    transform-origin: 50% 0;
    transform: translateY(-50%);
    color: $primary;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  
  &.active-select {
    overflow: visible;

    &:after {
      transform: rotate(180deg) translateY(-50%);
    }
  }

  @include media-breakpoint-up(lg) {
    overflow: visible;
    border: none;
  }

  .select-opener {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    cursor: pointer;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .select-slide {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-top: 46px;
    background-color: $white;
    border: 1px solid $gray-400;
    width: 100%;

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: static;
      padding-top: 0;
      min-height: 0;
      background-color: transparent;
      border: none;
    }
  }

  a {
    display: block;
    padding: rem-calc(11 40 11 20);
    color: $gray-700;

    @include media-breakpoint-up(lg) {
      padding: 0;
      margin-bottom: rem-calc(16);
    }

    &:hover {
      text-decoration: none;
      color: $orange;
    }

    &.active-page {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;

      @include media-breakpoint-up(lg) {
        position: static;
        width: auto;
        height: auto;
        color: $orange;
      }
    }
  }
}

.contact-holder {
  margin-bottom: rem-calc(75);
  font-weight: 300;
  
  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(45);
  }

  h2 {
    font-size: rem-calc(28);
    margin-bottom: rem-calc(20);
    line-height: 1.5;
  }

  .text {
    margin-bottom: rem-calc(14);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(28);
    }
  }

  .contact-form {
    margin-left: -30px;
    margin-right: -30px;

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }

    i {
      margin-right: 20px;
    }
  }
}

.contact-form {
  padding: rem-calc(31 30 32);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(33 60);
  }

  button, input {
    &[type="submit"] {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }
  }

  p {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(30);
    }
  }

  textarea {
    resize: none;
    height: 120px;
  }
}

.map-wrap {
  @include media-breakpoint-up(md) {
    position: relative;
    margin-bottom: rem-calc(20);
  }

  a {
    display: block;
    text-align: center;
    font-weight: 500;
    padding: rem-calc(15 30);
    background-color: $white;
    color: $orange;
    box-shadow: 0 1px 4px 0 rgba($black, 0.16);

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      min-width: 198px;
      width: auto;
    }
  }
}

.map-img-holder {
  background-color: $gray-300;
  min-height: 251px;
  width: 100%;
  margin-bottom: rem-calc(10);
  
  @include media-breakpoint-up(lg) {
    min-height: 370px;
  }
}