.help-section {
  padding: 0 0 10px;

  @include media-breakpoint-up(md) {
    padding: rem-calc(22 0);
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(109 0 122);
  }
}

.help-block {
  font-size: rem-calc(13);

  @include media-breakpoint-up(md) {
    position: relative;
    background-color: $gray-100;
    z-index: 1;
    padding: rem-calc(20 20 20 270);
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(40 40 24 440);
    font-size: rem-calc(16);
  }

  h2 {
    color: $black;
    line-height: 1.47;
    margin-bottom: rem-calc(4);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(32);
    }
  }

  .img-title-wrap {
    display: flex;
    align-items: flex-start;
    color: $warning;
    margin-bottom: rem-calc(14);
    line-height: 1.62;
    
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(38);
    }
  }

  .img-wrap {
    @include size(95px);
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem-calc(30);
    
    @include media-breakpoint-up(sm) {
      @include size(135px);
    }
    
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include size(200px);
    }
    
    @include media-breakpoint-up(lg) {
      @include size(370px);
    }
  }

  img {
    max-width: 100%;
  }

  .text {
    text-align: center;
    color: $gray-700;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }

    @include media-breakpoint-up(lg) {
      font-weight: 300;
    }
  }

  .btn {
    font-size: rem-calc(12);
    min-width: 135px;
    margin-bottom: rem-calc(10);
    padding: rem-calc(6 12);

    &+.btn {
      @include media-breakpoint-up(sm) {
        margin-left: rem-calc(26);
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
      padding: rem-calc(14 28);
      min-width: 175px;
      margin-bottom: rem-calc(30);
    }
  }
}