.lightbox-timing {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.88;
  padding: rem-calc(60 30 40);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(52 60 0);
    width: 600px;
  }

  .fancybox-close-small {
    padding: 6px;
    top: 10px;
    right: 9px;

    @include media-breakpoint-up(lg) {
      top: 18px;
      right: 18px;
    }
  }

  h2 {
    line-height: 1.5;
    font-weight: 500;
    font-size: rem-calc(28);
    color: $black;

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(19);
    }
  }

  .btn {
    font-size: rem-calc(18);
    padding-top: rem-calc(8);
    padding-bottom: rem-calc(9);
    min-width: 157px;
    margin-bottom: rem-calc(13);

    &:focus {
      box-shadow: none;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(32);
    }
  }

  .small {
    font-size: rem-calc(14);
    font-style: italic;
  }
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.6;

  @include media-breakpoint-up(lg) {
    opacity: 0.3;
  }
}