.main-text-holder {
  background-color: $gray-100;
  font-size: rem-calc(14);
  line-height: 1.6;
  font-weight: 300;
  padding: rem-calc(17 30 8);
  margin: rem-calc(0 0 50);

  @include media-breakpoint-up(lg) {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: rem-calc(50);
    font-size: rem-calc(16);
    padding: rem-calc(82 120 17);
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: rem-calc(80);
  }

  &.sm-text {
    padding-top: rem-calc(28);

    @include media-breakpoint-up(lg) {
      padding: rem-calc(40 80);
    }

    h2 {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(33);
    }

    .icon-list {
      font-size: rem-calc(16);

      .icon {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  
  h1, h2 {
    margin: rem-calc(0 0 10);
    color: $black;
  }

  h1 {
    font-size: rem-calc(23);
    line-height: 1.39;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
    }
  }
  
  h2 {
    line-height: 1.67;
  }

  .small-h {
    font-size: rem-calc(14);
    font-weight: 500;

    @include media-breakpoint-up(xl) {
      font-size: rem-calc(16);
    }
  }

  p {
    margin: rem-calc(0 0 22);
    
    @include media-breakpoint-up(xl) {
      margin: rem-calc(0 0 39);
    }
  }
}