.main-form-checkout {
  h2 {
    font-size: rem-calc(18);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(20);
    }
  }

  .text {
    font-size: rem-calc(14);
    line-height: 1.71;
    font-weight: 300;
    
    @include media-breakpoint-up(lg) {
      line-height: 1.5;
      font-size: rem-calc(16);
      margin-bottom: rem-calc(18);
    }

    h2 {
      @include media-breakpoint-up(lg) {
        font-size: rem-calc(28);
      }
    }
  }

  .form-group {
    margin-bottom: rem-calc(10);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }
  }

  .address-lightbox {
    font-size: rem-calc(12);
    display: inline-flex;
    align-items: center;
    margin-right: rem-calc(8);

    &:hover {
      text-decoration: none;
    }

    .icon {
      font-size: rem-calc(20);
      margin-left: rem-calc(3);
    }
  }

  .jcf-select-gender-select {
    width: 92px;

    @include media-breakpoint-up(lg) {
      width: 99px;
    }

    &.jcf-select-full-w {
      width: 100%;
    }

    .jcf-select-text {
      margin-right: 36px;
    }

    .jcf-select-opener {
      width: 34px;

      &:after {
        left: 32%;
      }
    }
  }

  .custom-radio {
    position: static;
  }

  .custom-control-input {
    &:checked ~ .adding-select .jcf-select {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .adding-select {
    padding-top: rem-calc(6);
    cursor: default;
    margin-left: -39px;

    @include media-breakpoint-up(lg) {
      padding-top: rem-calc(16);
      max-width: 370px;
      margin-left: 64px;
    }

    .jcf-select {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .custom-check {
    padding-left: 33px;
    line-height: 1.5;

    .check-span {
      top: 2px;
    }
  }

  textarea.form-control {
    height: 120px;

    @include placeholder {
      font-weight: 300;
    }
  }

  .btns-form-wrap {
    .btn {
      @include media-breakpoint-up(lg) {
        min-width: 145px;
      }

      &:first-child {
        @include media-breakpoint-up(lg) {
          min-width: 184px;
        }
      }
    }
  }
}

// shipping-form ====================
.shipping-form,
.payment-form {
  .btns-form-wrap {
    .btn {
      @include media-breakpoint-up(lg) {
        min-width: 128px;
      }
  
      &:first-child {
        @include media-breakpoint-up(lg) {
          min-width: 148px;
        }
      }
    }
  }
}