.porduct-item-link {
  color: $black;
  font-size: rem-calc(12);
  border-bottom: 1px solid $gray-400;
  margin: rem-calc(0 0 20);
  @include animate(border-color);
  
  &:hover {
    .alert-holder {
      opacity: 1;
      top: 50%;
    }
  }
  
  @include media-breakpoint-up(md) {
    font-size: rem-calc(16);
  }

  a {
    color: $white;
    text-decoration: none;
    display: block;
  }

  .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    @include size(25px);
    border: none;
    border-radius: 50%;
    background-color: $gray-400;
    color: $blue;
    padding: 0;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
    @include animate(opacity);
    z-index: 2;

    &:hover {
      opacity: 0.8;
    }
    
    @include media-breakpoint-up(lg) {
      @include size(40px);
      font-size: 20px;
      line-height: 42px;
    }
  }

  .img-wrap {
    flex-shrink: 0;
  }
  
  .alert-holder {
    display: none;
    
    @include media-breakpoint-up(lg) {
      display: flex;
      @include center-vh;
      min-width: 205px;
      @include animate(top opacity);
      opacity: 0;
      top: 60%;
    }
  }

  .discount-wrap {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: $orange;
    color: $white;
    @include size(44px, 39px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.85;
    box-shadow: 0 1px 4px 0 rgba($black, 0.16);
    z-index: 2;
    
    &:after {
      content:'';
      position: absolute;
      top: calc(100% - 26px);
      left: 0;
      right: 0;
      height: 100%;
      background-color: inherit;
      transform: skewY(-17deg);
      z-index: -1;
    }
    
    @include media-breakpoint-up(lg) {
      @include size(60px, 50px);
    }
  }

  .img-wrap {
    background-color: #f7fafc;
    position: relative;
    z-index: 1;

    >a {
      @include media-breakpoint-up(lg) {
        pointer-events: none;
      }
    }
  }
  
  .card-body {
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    color: $black;

    &:hover {
      text-decoration: none;
    }
    
    @include media-breakpoint-up(xl) {
      line-height: 1.6;
      padding: rem-calc(15 0 14);
    }
  }
  
  .card-title {
    display: block;
    
    @include media-breakpoint-up(xl) {
      margin-bottom: rem-calc(16);
    }
  }
  
  .price {
    color: $orange;
    font-size: rem-calc(12.6);

    // &:before {
    //   content: '€ ';
    // }
    
    @include media-breakpoint-up(xl) {
      font-size: rem-calc(18);
    }
  }
  
  .old-price {
    color: $gray-700;
    text-decoration: line-through;
    font-size: rem-calc(11.6);

    // &:before {
    //   content: '€ ';
    // }

    @include media-breakpoint-up(xl) {
      font-size: rem-calc(16);
    }
  }

  .card-link + .card-link {
    margin-left: rem-calc(22);
    
    @include media-breakpoint-up(xl) {
      margin-left: rem-calc(14);
    }
  }
}

.alert-holder {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $blue;
  border: none;
  padding: 0;
  color: $white;
  font-weight: 500;
  box-shadow: 0 1px 4px 0 rgba($black, 0.16);
  max-width: 205px;
  // cursor: default;

  &:hover {
    text-decoration: none;
    color: $white;
  }
  
  a {
    &:hover {
      color: rgba($white, 0.7);
    }
  }

  .alert-text {
    margin: 0 auto;
    flex-grow: 1;
    padding: rem-calc(10 6);
  }

  .add-button {
    background-color: $orange;
    @include size(46px, 45px);
    font-size: rem-calc(23);
    line-height: 48px;
  }
}


// PRODUCT LINK ===========================================
.product-link-holder {
  display: block;
  color: $black;
  margin-left: -30px;
  margin-right: -30px;

  &:hover {
    text-decoration: none;
    color: $black;

  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
  }

  &.lg {
    &:last-of-type {
      margin-bottom: rem-calc(25);
    }

    @include media-breakpoint-up(md) {
      display: flex;
      margin-bottom: rem-calc(30);
    }

    @include media-breakpoint-up(lg) {
      align-items: stretch;
    }

    .img-wrap {
      @include media-breakpoint-up(md) {
        margin-right: rem-calc(30);
      }

      @include media-breakpoint-up(lg) {
        max-width: 370px;
        width: 100%;
        flex-shrink: 0;
      }
    }

    img {
      @include media-breakpoint-up(md) {
        @include size(100%, 100%);
        object-fit: cover;
      }
    }

    .text {
      padding: rem-calc(24 30 30);
      font-weight: 300;
      
      @include media-breakpoint-up(lg) {
        padding: rem-calc(46 74 48 80);
      }
    }

    .title {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(22);
      font-weight: normal;

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(9);
      }
    }
  }

  &.sm {
    display: flex;
    font-size: rem-calc(14);
    line-height: 1.57;
    margin-bottom: rem-calc(20);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(30);
    }

    .img-wrap {
      width: 160px;
      flex-shrink: 0;

      @include media-breakpoint-up(xl) {
        width: 220px;
      }
    }

    .text {
      padding: rem-calc(13 30 0 18);
      width: calc(100% - 160px);
      
      @include media-breakpoint-up(xl) {
        width: calc(100% - 220px);
        padding: rem-calc(56 29 16);
      }
    }

    .title {
      font-weight: 500;
      margin-bottom: rem-calc(8);
      line-height: 1.43;

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(15);
      }
    }
  }

  img {
    max-width: 100%;
  }
}

.popular-products {
  padding: rem-calc(10 0 20);

  h1, .h1 {
    margin-bottom: rem-calc(19);
    color: $black;

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(40);
    }
  }
}

.products-img-section {
  padding: rem-calc(0 0 30);
}
