.progress-wrap {
  padding: rem-calc(20 0 0);
  margin-bottom: rem-calc(8);
  
  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(20);
  }
}

.progress-list {
  @extend %listreset;
  display: flex;
  align-items: center;
  font-size: rem-calc(14);
  line-height: 2.14;
  text-align: center;

  li {
    flex: 1 0 auto;

    &+li {
      margin-left: rem-calc(12);
    }

    &.active {
      color: $black;
    }
  }
}