{% extends 'shop/_layouts/main.authenticated.twig' %}

{% block content %}
    <div class="account-content">
        <h2 class="black mb-5">Welkom terug, {{ currentUser.fullName }}</h2>
        <div class="row">
            <div class="col-6 col-lg-3">
                <a href="{{ url('/shop/customer/orders') }}" class="box-link">
                    <i class="icon text-warning ti-package"></i>
                    <span class="d-block title black font-weight-bold">Bestellingen</span>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="{{ url('/shop/customer/wishlist') }}" class="box-link">
                    <i class="icon text-warning ti-list"></i>
                    <span class="d-block title black font-weight-bold">Verlanglijst</span>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="{{ url('/shop/customer/profile') }}" class="box-link">
                    <i class="icon text-warning ti-user"></i>
                    <span class="d-block title black font-weight-bold">Profiel</span>
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="{{ url('/shop/customer/addresses') }}" class="box-link">
                    <i class="icon text-warning ti-location-pin"></i>
                    <span class="d-block title black font-weight-bold">Adressen</span>
                </a>
            </div>
        </div>
        <a href="#" class="text-warning d-lg-none">Uitloggen</a>
    </div>
{% endblock %}
