{% extends 'shop/_layouts/main.authenticated.twig' %}

{% block body %}
<div class="bg-white">
    <div id="main" class="container mx-auto p-6">
        <main class="container padding-top-3x padding-bottom">
            <div class="row padding-top">
                <div class="col-md-8">
                    <h1>New password</h1>
                    <p>Please enter new email address.</p>
                </div>
            </div>
            <div class="row">
                <form action="/" method="post" accept-charset="UTF-8" id="setPassword">
                    <div class="errors text-danger col-md-12">
                        {% if errors is defined %}
                        <ul>
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ getCsrfInput() }}
                    {{ redirectInput('shop/customer/password/completed') }}
                    <input type="hidden" name="action" value="users/set-password">
                    <input type="hidden" name="code" value="{{ craft.app.request.getParam('code') }}">
                    <input type="hidden" name="id" value="{{ craft.app.request.getParam('id') }}">


                    <div class="field  form-element {% if errors is defined %}error{% endif %}">
                        <label for="newPassword">New password</label>
                        <input id="newPassword" type="password" name="newPassword" class="form-control" placeholder="New password">
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Reset password" class="button button-primary"/>
                    </div>
                </form>
            </div>

        </main>
    </div>
</div>
{% endblock %}
