{% extends 'shop/_layouts/main.authenticated.twig' %}

{% block profileLink %}
    {% set active = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-8 col-lg-9">
        <div class="account-content">
            <div class="alert bg-primary text-light alert-dismissible fade show mb-4" role="alert">
                <p class="mb-0">De wijzigingen zijn opgeslagen</p>
                <button type="button" class="close text-light" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="icon ti-close"></i></span>
                </button>
            </div>
            <h2 class="black mb-3 mb-xl-5">Profiel</h2>
            <form class="profile-form" method="post">
                {{ csrfInput() }}
                <input type="hidden" name="userId" value="{{ currentUser.id }}">
                <input type="hidden" name="action" value="users/save-user">

                <div class="row justify-content-lg-between">
                    <div class="col-lg-6 col-xl-5">
                        <div class="form-group">
                            <label for="email" class="title h5">E-mail</label>
                            <!-- input disabled -->
                            <!-- To make the input active, attribute 'disabled' should be delete. -->
                            <input value="{{currentUser.email}}" id="email" type="email" class="form-control" placeholder="{{ currentUser.email }}" disabled>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newsletters">
                                <label class="custom-control-label" for="newsletters">Stuur me nieuwsbrieven per e-mail</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 mb-6">
                        <h3 class="title h5">Wachtwoord aanpassen</h3>
                        <p class="mb-5">Gebruik onderstaande knop om een wachtwoord reset e-mail te versturen.</p>
                        <a href="{{ url('shop/customer/password') }}" class="btn btn-light btn-white">Stuur reset e-mail</a>
                    </div>
                    <div class="col-lg-6 col-xl-5 mb-5">
                        <h3 class="title h5 mb-4">Persoonlijke gegevens</h3>
                        <div class="form-group-sm">
                            <input name="firstName" type="text" class="form-control" value="{{ currentUser.firstName }}" placeholder="{{ currentUser.firstName }}">
                        </div>
                        <div class="form-group-sm">
                            <input name="lastName" type="text" class="form-control" value="{{ currentUser.lastName }}" placeholder="{{ currentUser.lastName }}">
                        </div>
                        <div class="form-group-sm mb-xl-6">
                            <select id="preferred-language" name="preferredLanguage">
                                {% set allAppLocales = craft.app.i18n.getAppLocales()|multisort('displayName')|index('id') %}
                                {% set userLanguage = currentUser.getPreferredLanguage() ?: craft.app.language %}

                                {% if allAppLocales[userLanguage] is not defined %}
                                {% set userLanguage = userLanguage|replace('/-.*/', '') %}
                                {% if allAppLocales[userLanguage] is not defined %}
                                {% set userLanguage = 'en' %}
                                {% endif %}
                                {% endif %}

                                {% for locale in allAppLocales %}
                                <option value="{{ locale.id }}" {% if locale.id == userLanguage %}selected{% endif %}>{{ locale.getDisplayName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Wijzigingen opslaan</button>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <h3 class="title h5">Account verwijderen</h3>
                        <p class="mb-6">Bevestig met je wachtwoord dat je je account permanent wilt verwijderen.</p>
                        <div class="form-group">
                            <div class="password-input-wrap">
                                <input type="password" class="form-control" placeholder="*******">
                                <span class="show-btn"><i class="ti-eye"></i></span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-light btn-white">Verwijder account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}