<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ currentSite.name }}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
