{% extends 'base.html.twig' %}
{% block meta %}
    <meta charset="UTF-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block stylesheets %}
    <!-- include the site stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fancybox.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js" defer><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
            defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            defer></script>
    <!-- include custom JavaScript -->
    <script src="/js/jquery.main.js" defer></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- header of the page -->
        <header id="header">
            {% block bodyHeader %}
                <div class="top-header-bar d-flex align-items-center justify-content-between">
                    <ul class="check-list ml-lg-auto mr-lg-auto">
                        <li class="d-none d-lg-inline-block"><i class="icon ti-check"></i> De echte vakman</li>
                        <li class="d-none d-lg-inline-block"><i class="icon ti-check"></i> Groot assortiment</li>
                        <li><i class="icon ti-check"></i> Snelle levering</li>
                        <li class="d-none d-lg-inline-block"><i class="icon ti-check"></i> WebwinkelKeur</li>
                    </ul>
                    <a href="tel:0402040050"><i class="ti-headphone"></i> 040 204 00 50</a>
                </div>
                <div class="bottom-header-bar d-flex align-items-center justify-content-between">
                    <button type="button" class="burger-opener nav-opener">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- page logo -->
                    <a href="#" class="logo" aria-label="logo">
                        <img src="/images/logo.svg" alt="Sauna's & Zwembaden">
                    </a>
                    <div class="navbar-wrapper d-lg-flex align-items-lg-center">
                        <!-- search form -->
                        <form class="search-nav-form order-lg-2">
                            <label class="custom-search-label">
                                <input type="text" class="form-control">
                                <i class="ti-search icon"></i>
                            </label>
                        </form>
                        <!-- main navigation of the page -->
                        <nav class="main-nav order-lg-1 ml-lg-auto mr-lg-auto">
                            <ul class="main-nav-list d-none d-lg-inline-flex">
                                <li>
                                    <a href="#">Sauna</a>
                                </li>
                                <li>
                                    <a href="#">Zwembad</a>
                                </li>
                                <li>
                                    <a href="#">Infrarood</a>
                                </li>
                                <li>
                                    <a href="#">Stoom</a>
                                </li>
                            </ul>
                            <a href="#" class="font-weight-bold text-warning d-none d-lg-inline-block ml-lg-4 ml-xl-8">Sale</a>
                            <div class="nav-tabset-wrap">
                                <!-- tabs switcher mobile only -->
                                <ul class="nav-tabset" aria-label="additional navigation">
                                    <li class="d-none d-lg-block">
                                        <a href="#tab-1" class="tab-link drop-nav-link">Sauna</a>
                                    </li>
                                    <li>
                                        <a href="#tab-2" class="tab-link drop-nav-link">Zwembad</a>
                                    </li>
                                    <li>
                                        <a href="#tab-3" class="tab-link drop-nav-link">Infrarood</a>
                                    </li>
                                    <li>
                                        <a href="#tab-4" class="tab-link drop-nav-link">Stoom</a>
                                    </li>
                                    <li class="d-lg-none">
                                        <a href="#" class="drop-nav-link font-weight-bold text-warning">Sale</a>
                                    </li>
                                </ul>
                                <!-- submenu block -->
                                <!-- tabs content holder mobile only -->
                                <div class="tab-content">
                                    <!-- tab element mobile only -->
                                    <div id="tab-1">
                                        <ul class="drop-nav-list" aria-label="additional navigation">
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Sauna cabines</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Sauna onderdelen</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Sauna techniek</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Sauna accessoires</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- tab element mobile only -->
                                    <div id="tab-2">
                                        <ul class="drop-nav-list">
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembaden</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad folie</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad onderhoud</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad filters & pompen</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad inbouwdelen</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad afdekking</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad verwarming</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad techniek</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Zwembad fun & recreatie</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- tab element mobile only -->
                                    <div id="tab-3">
                                        <ul class="drop-nav-list">
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Infrarood cabines</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Infrarood techniek</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Infrarood accessoires</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Infrarood vervangingsonderdelen</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- tab element mobile only -->
                                    <div id="tab-4">
                                        <ul class="drop-nav-list">
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Stoom generatoren</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Stoom toebehoren</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                            <li class="drop-nav-item">
                                                <a href="#">
                                                    <span class="d-block">Stoom geuren</span>
                                                    <span class="small text-secondary">At vero eos et accusamus et iusto odio</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <ul class="header-list order-lg-3">
                            <li>
                                <a href="#"><i class="ti-user"></i> <span class="d-lg-none">Account</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="ti-heart"></i> <span class="d-lg-none">Wishlist</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Popup cart list opener -->
                    <a href="#shopping-cart" class="cart-link align-self-center popup-side-link not-empty">
                        <i class="ti-bag"></i>
                    </a>
                </div>
                <!-- Popup cart list -->
                <div class="popup-holder">
                    <div id="shopping-cart" class="popup-side popup-shopping-cart">
                        <div class="d-flex flex-column d-lg-block h-100">
                            <h2>Winkelmand</h2>
                            <ul class="cart-product-list">
                                <li class="cart-product-item">
                                    <div class="img-wrap">
                                        <img src="/images/img-08.png"
                                             srcset="/images/img-08-2x.png 2x, /images/img-08-2x.png 3x"
                                             alt="Dolphin Supreme M400 PRO zwembadrobot">
                                    </div>
                                    <div class="info">
                                        <a href="#" class="title">Dolphin Supreme M400 PRO zwembadrobot</a>
                                        <span class="price">€ 178,00</span>
                                        <p class="mb-0"><a href="#">Verwijderen</a></p>
                                    </div>
                                </li>
                                <li class="cart-product-item">
                                    <div class="img-wrap">
                                        <img src="/images/img-07.png"
                                             srcset="/images/img-07-2x.png 2x, /images/img-07-2x.png 3x"
                                             alt="Dolphin Supreme M400 PRO zwembadrobot">
                                    </div>
                                    <div class="info">
                                        <a href="#" class="title">Dolphin Supreme M400 PRO zwembadrobot</a>
                                        <span class="price">€ 178,00</span>
                                        <p class="mb-0"><a href="#">Verwijderen</a></p>
                                    </div>
                                </li>
                                <li class="cart-product-item">
                                    <div class="img-wrap">
                                        <img src="/images/img-10.png"
                                             srcset="/images/img-10-2x.png 2x, /images/img-10-2x.png 3x"
                                             alt="Dolphin Supreme M400 PRO zwembadrobot">
                                    </div>
                                    <div class="info">
                                        <a href="#" class="title">Dolphin Supreme M400 PRO zwembadrobot</a>
                                        <span class="price">€ 178,00</span>
                                        <p class="mb-0"><a href="#">Verwijderen</a></p>
                                    </div>
                                </li>
                                <li class="cart-product-item">
                                    <div class="img-wrap">
                                        <img src="/images/img-07.png"
                                             srcset="/images/img-07-2x.png 2x, /images/img-07-2x.png 3x"
                                             alt="Dolphin Supreme M400 PRO zwembadrobot">
                                    </div>
                                    <div class="info">
                                        <a href="#" class="title">Dolphin Supreme M400 PRO zwembadrobot</a>
                                        <span class="price">€ 178,00</span>
                                        <p class="mb-0"><a href="#">Verwijderen</a></p>
                                    </div>
                                </li>
                            </ul>
                            <div class="last-block text-lg-right">
                                <a href="#" class="btn btn-warning ">Bestellen</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </header>

        <!-- contain main informative part of the site -->
        <main id="main">
            {% block breadCrumbs %}
                <!-- hero small section -->
                <section class="hero-small-section bg-stretch">
                    <span data-srcset="/images/img-03.jpg, /images/img-03-2x.jpg 2x, /images/img-03-3x.jpg 3x"></span>
                    <nav aria-label="breadcrumb" class="hero-breadcrumb">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Lorem ipsum</a></li>
                                <li class="breadcrumb-item"><a href="#">Dolor sit amet</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Consectetur adipiscing</li>
                            </ol>
                        </div>
                    </nav>
                </section>
            {% endblock %}
            {% block main %}
            {% endblock %}
        </main>

        <!-- footer of the page -->
        <footer id="footer" class="footer pattern-bg bg-stretch">
            {% block bodyFooter %}
                <span data-srcset="/images/pattern.jpg, /images/pattern-2x.jpg 2x, /images/pattern-3x.jpg 3x"></span>
                <div class="container">
                    <div class="row footer-top">
                        <div class="col-xl-5 mb-1">
                            <h2 class="footer-heading">Klantenservice</h2>
                            <!-- additional navigation -->
                            <ul class="decor-list">
                                <li><i class="icon ti-arrow-right"></i><a href="#">Que pretium</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Que pretium</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Magna efficitur</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Magna efficitur</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Dictum nibh accum</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Dictum nibh accum</a></li>
                                <li><i class="icon ti-arrow-right"></i><a href="#">Proin id justo ac</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <h2 class="footer-heading">Betaalmethoden</h2>
                            <ul class="payment-list">
                                <li><img src="/images/ideal.svg" alt="iDeal"><span>iDeal</span></li>
                                <li><img src="/images/mastercard.svg" alt="Mastercard"><span>Mastercard</span></li>
                                <li><img src="/images/visa.svg" alt="Visa"><span>Visa</span></li>
                                <li><img src="/images/paypal.svg" alt="Paypal"><span>Paypal</span></li>
                                <li><img src="/images/sepa.svg" alt="Overboeking"><span>Overboeking</span></li>
                                <li><img src="/images/bancontact.svg" alt="Bancontact"><span>Bancontact</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <h2 class="footer-heading">Ons adres</h2>
                            <div class="address-wrapp">
                                <address class="address-footer">
                                    <i class="icon ti-location-pin"></i>
                                    <p>
                                        De Vest 12 <br>
                                        5555 XL <br>
                                        Valkenswaard <br>
                                        Nederland
                                    </p>
                                </address>
                                <a href="tel:+310402016927"><i class="icon ti-headphone"></i> +31 (0) 40 2016927</a>
                            </div>
                            <!-- social networks -->
                            <ul class="social-list">
                                <li><a href="#"><i class="icon ti-facebook"></i> Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <p class="mb-0">Built with craft by WHITE</p>
                    </div>
                </div>
            {% endblock %}
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {# Google analytics etc #}
{% endblock %}
