{% extends '@algoliaplus/shop/products/frontend_templates' %}
{% block hit_template %}
{% verbatim %}
    <!-- Hit template -->
    <script type="text/template" id="hit-template">
        <div class="row mb-2">
            {{#hits}}
               <div class="col-6 col-lg-4">
                    <div class="porduct-item-link card">
                        <span class="img-wrap">
                            {{#productImages.0}}
                                <img src="{{productImages.0.transforms.productCatalogImage.url}}" srcset="{{ productImages.0.transforms.productCatalogImage2x.url }} 2x, {{ productImages.0.transforms.productCatalogImage3x.url }} 3x" alt="" class="card-img-top">
                            {{/productImages.0}}
                            <form method="POST" class="add-to-cart-form">
                                {% endverbatim %}{{ csrfInput() }}
                                {% verbatim %}
                                <input type="hidden" name="action" value="commerce/cart/update-cart">
                                <input type="hidden" name="purchasableId" value="{{ defaultVariantId }}">
                                <input type="hidden" name="qty" value="1">
                                <button type="submit" class="alert-holder">
                                    <span class="alert-text">{% endverbatim %}{{"In winkelmand"|t}}{% verbatim %}</span>
                                    <span class="add-button"><i class="ti-heart"></i></span>
                                </button>
                            </form>
                        </span>
                        <a href="{{url}}" class="card-body">
                            <span class="card-title">{{ title }}</span>
                            <div class="text-right">
                                <span class="price card-link">{{ defaultSalePrice }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            {{/hits}}
        </div>
    </script>
{% endverbatim %}
{% endblock hit_template %}
{% block pagination_template %}
{% verbatim %}
    <!-- Pagination template -->
    <script type="text/template" id="pagination-template">
        {{#pages}}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center justify-content-lg-end">
                <li class="page-item">
                    <a href="{{#prev_page}}{{ prev_page_url }}{{/prev_page}}{{^prev_page}}javascript:void(0);{{/prev_page}}"
                            {{^prev_page}}class="disabled" {{/prev_page}}
                            {{#prev_page}}class="page-link go-to-page page-numbers" data-page="{{ prev_page }}" {{/prev_page}}
                        >
                            {% endverbatim %}<span aria-hidden="true"><i class="ti-angle-double-left"></i></span>{% verbatim %}
                    </a>
                </li>
                {{#disabled}}
                    <li class="page-item">
                        <span class="sep-dots">{{ number }}</span>
                    </li>
                {{/disabled}}
                {{^disabled}}
                    <li class="page-item {{#current}}active{{/current}}">
                        <a href="{{ url }}" class="page-link {{#current}}active{{/current}} page-numbers go-to-page" data-page="{{ number }}">{{ number }}</a>
                    </li>
                {{/disabled}}
                <li class="page-item">
                    <a href="{{#next_page}}{{ next_page_url }}{{/next_page}}{{^next_page}}javascript:void(0);{{/next_page}}"
                        {{^next_page}}class="disabled" {{/next_page}}
                        {{#next_page}}class="go-to-page page-numbers page-link" data-page="{{ next_page }}" {{/next_page}}
                    >
                        {% endverbatim %}<span aria-hidden="true"><i class="ti-angle-double-right"></i></span>{% verbatim %}
                    </a>
                </li>
            </ul>
        </nav>
        {{/pages}}
    </script>
{% endverbatim %}
{% endblock pagination_template %}
{% block facet_template %}
    {% verbatim %}
    <!-- Facet template -->
    <script type="text/template" id="facet-template">
        <div class="aside-menu-item aside-mobile-open-close widget widget-filters facet">
            <!-- mobile open-close opener -->
            <h3 class="h6 menu-item-title aside-mobile-opener">{{ title }}</h3>
            <!-- mobile open-close slide -->
            <ul class="list-checkbox facet-options" data-initial-amount="5" data-per-step="50">
                {{#values}}
                <li>
                    <label class="custom-check checkbox" for="fopt-{{ facetIndex }}-{{ index }}">
                        <input type="checkbox" id="fopt-{{ facetIndex }}-{{ index }}" class="visually-hidden toggle-refine {{#isRefined}}facet-refined{{/isRefined}} " {{#isRefined}} checked{{/isRefined}} data-facet="{{ facet }}" data-value="{{ value }}"/>
                        <span class="check-span icheckbox"></span>
                        <span>{{ name }}</span>
                    </label>
                </li>
                {{/values}}
            </ul>
            <div>
                <div class="show-more" style="display: none;">
                    <a href="javascript:void(0);" class="aside-menu-opener d-none d-lg-inline-block">{% endverbatim %}{{ "meer_opties" | t }}{% verbatim %}
                        <i class="material-icons arrow_downward"></i></a>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
{% endblock facet_template %}
