{% extends 'shop/_layouts/main' %}

{# Register the resource bundle that contains all necessary Javascript libraries. #}
{% do view.registerAssetBundle("white\\algoliaplus\\resources\\AlgoliaPlusAssetBundle") %}

{% block main %}
    <h1>Products</h1>

    {% include '@algoliaplus/shop/products/frontend_templates' %}{# Includes Hogan templates that algoliaplus.js uses to render the results #}

    {# Includes the search form on the page. This is the main piece of HTML that triggers algoliaplus.js #}
    {% embed '@algoliaplus/shop/products/overview/search_form' with { algoliaplusMappingName: 'products' } %} {# You may specify any additional configurations, see the template to  find more #}
        {% block search_form %} {# You can override any part of the including template. For example in this case, you can wrap the form into a helper element. It is also possible to define element id, classes in the options #}
            <div class="product-search-form">
                {{ parent() }}
            </div>
        {% endblock %}
    {% endembed %}


    {% embed '@algoliaplus/shop/products/overview/search_facets' %}
        {% block search_facets %}
            <div class="product-search-filters">
                {{ parent() }}
            </div>
        {% endblock %}
    {% endembed %}

    <div class="product-search-results">
        {% include '@algoliaplus/shop/products/overview/search_results' %}
    </div>

    {% include '@algoliaplus/shop/products/overview/search_stats' %}
    {% include '@algoliaplus/shop/products/overview/results_pagination' %}

    {# Registers the init script for algoliaplus.js, that contains all required configuration, event listeners and more. #}
    {% set algoliaplusInitScript %} {# We render it into the `algoliaplusInitScript` variable, without printing it on the page, and later we register it as a Craft resource so it will be included in a proper order along with other Javascript resources. #}
        {% embed '@algoliaplus/shop/products/overview/init_script' %}
            {% block init_script_options %}
                {{ parent() }}
                algoliaplusOptions.hitsPerPage = 2;
            {% endblock %}
        {% endembed %}
    {% endset %}
    {% do view.registerJs(algoliaplusInitScript) %}

{% endblock %}
