.account-section {
  padding: rem-calc(28 0 30);
  
  @include media-breakpoint-up(lg) {
    padding: rem-calc(60 0 80);
  }
}

.account-aside {
  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(2);
  }

  a {
    color: $black;
  }

  h2 {
    position: relative;
    padding-bottom: rem-calc(12);
    
    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 2px;
      background-color: $warning;
    }
  }
}

.account-content {
  h2 {
    line-height: 1.5;
    font-size: rem-calc(28);
  }

  .account-head-small {
    font-size: rem-calc(22);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
    }
  }

  .alert {
    line-height: 1.88;
    padding: rem-calc(24 54 24 30);
    
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(20);
      line-height: 1.5;
    }

    .close {
      opacity: 1;
      text-shadow: none;
    }
  }

  .title-account {
    font-size: rem-calc(14);
    color: $black;
    font-weight: 500;
    line-height: 1.43;
    margin-bottom: rem-calc(10);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(20);
    }
  }
}

// box-link =====================
.box-link{
  display: block;
  border: 1px solid $gray-400;
  text-align: center;
  margin-bottom: rem-calc(30);
  padding: rem-calc(20 10 14);
  
  &:hover {
    text-decoration: none;
    background-color: $gray-200;
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(36 10 14);
    min-height: 160px;
  }

  .icon {
    display: block;
    font-size: 36px;
    margin-bottom: rem-calc(11);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(29);
    }
  }

  .title {
    @include media-breakpoint-up(sm) {
      font-size: rem-calc(18);
    }
  }
}

// table-order====================
.table-order {
  border-bottom: none;
  // width: 100%;
  margin: 0;
  overflow: hidden;

  th, td {
    min-width: 100px;
    padding-left: 0;

    &:last-of-type {
      text-align: right;
      padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
      // min-width: 170px;
    }
  }

  thead {
    th {
      font-weight: normal;
      font-size: rem-calc(14);
      border: none;
    }
  }

  td {
    color: $black;
  }
}

.scroll-table-wrap {
  .jcf-scrollbar-horizontal {
    height: 0;
  }

  .jcf-scrollbar-slider {
    transform: translateY(-100%);
  }
}

// table-details ===============
.table-details {
  th, td {
    white-space: nowrap;
    min-width: 0;
  }

  th {
    color: $gray-700;
  }

  td {
    font-size: rem-calc(14);

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
    }
  }
}

.scroll-table-wrap {
  .jcf-scrollable {
    height: 100%;
    // overflow: hidden;
  }

  .table {
    width: 100%;
    height: 100%;
  }
}

.total-row {
  font-size: rem-calc(18);
  color: $black;
  padding-top: rem-calc(30);
  
  @include media-breakpoint-up(md) {
    border-top: 1px solid $gray-400;
    padding-top: rem-calc(10);
  }

  .price {
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-weight: normal;
    }
  }
}

// order-details-box =====================
.order-details-box {
  @include media-breakpoint-up(md) {
    background-color: $gray-200-l;
    padding: rem-calc(20 15 24);
  }

  @include media-breakpoint-up(lg) {
    padding: rem-calc(20 30 22);
  }

  .info {
    display: flex;
    align-items: flex-start;
    font-size: rem-calc(14);
    line-height: 1.75;
    margin-bottom: rem-calc(10);
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    color: $warning;
    font-size: 24px;
    margin-right: rem-calc(17);
  }

  h3 {
    color: $black;
    line-height: 1.67;
    margin-bottom: rem-calc(10);
  }

  address {
    margin-bottom: 0;
  }

  .order-details-list {
    margin-left: -30px;
    margin-right: -30px;
    padding: rem-calc(24 30 10);
    background-color: $gray-200-l;

    @include media-breakpoint-up(md) {
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
  }
}

.order-details-list {
  dt {
    font-weight: normal;
    font-size: rem-calc(12);
    color: $gray-700;

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(5);
    }
  }

  dd {
    color: $black;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(10);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(15);
    }
  }
}
