.advantage-list {
  padding: rem-calc(30 0 24 30);
  list-style: none;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    padding: rem-calc(30 0 20);
  }

  li {
    margin-bottom: rem-calc(13);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }
  }

  .icon {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    font-size: 30px;
    color: $orange;
    text-align: center;
    margin-right: rem-calc(20);
  }

  .text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 54px);
    font-size: rem-calc(14);
    color: $gray-700;
  }

  h2 {
    color: $black;
  }
}