.card-address {
  width: 270px;
  display: flex;
  align-items: flex-start;
  background-color: $gray-200-l;
  color: $black;
  font-size: rem-calc(14);
  line-height: 1.71;
  padding: rem-calc(20 30 8);
  margin: rem-calc(0 0 20);

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: rem-calc(30);
    padding-bottom: rem-calc(20);
  }

  @include media-breakpoint-up(xl) {
    font-size: rem-calc(16);
    line-height: 1.88;
  }

  &.sm {
    margin-bottom: rem-calc(10);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(30);
      padding-bottom: rem-calc(14);
      padding-right: rem-calc(19);
    }

    @include media-breakpoint-up(xl) {
      font-size: rem-calc(14);
      line-height: 1.75;
    }

    address {
      &:last-of-type {
        margin-bottom: rem-calc(22);

        @include media-breakpoint-up(lg) {
          margin-bottom: rem-calc(18);
        }
      }
    }

    .links-wrap {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
      
      a+a {
        @include media-breakpoint-up(xl) {
          margin-left: rem-calc(7);
        }
      }
    }

    .text-link {
      display: none;
    }

  }

  .icon {
    display: none;
    
    @include media-breakpoint-up(lg) {
      display: block;
      flex-shrink: 0;
      margin-right: rem-calc(20);
      color: $gray-400;
      font-size: 40px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: rem-calc(40);
    }
  }

  .info {
    flex: 1 0 auto;

    @include media-breakpoint-up(lg) {
      flex: 1 1 auto;
    }
  }
  
  address {
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: rem-calc(0);

      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(34);
      }
    }
  }

  .links-wrap {
    text-align: right;
    font-size: rem-calc(20);

    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    a {
      &+a {
        margin-left: rem-calc(16);
        
        @include media-breakpoint-up(lg) {
          margin-left: rem-calc(0);
        }

        @include media-breakpoint-up(xl) {
          margin-left: rem-calc(16);
        }
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;

      @include media-breakpoint-up(lg) {
        margin-right: rem-calc(4);
      }
      
      @include media-breakpoint-up(xl) {
        margin-right: rem-calc(10);
      }
    }
  }

  .text-link {
    display: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      vertical-align: middle;
      font-size: rem-calc(14);
    }
  }
}

.rotate-icon {
  display: inline-block;
  transform: rotate(45deg);
}