.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 330px;
  height: 100vh;
  color: $white;
  padding: rem-calc(28 30 70);
  overflow: auto;
  box-shadow: 2px 2px 9px 0 rgba($black, 0.33);
  // transform: translateX(-100%);
  display: block !important;
  @include animate(transform);
  z-index: 3;

  @include media-breakpoint-up(lg) {
    position: static;
    transform: none;
    box-shadow: none;
    width: auto;
    height: auto;
    padding: rem-calc(0 40 0 0);
    background-color: transparent;
    color: $gray-700;
  }
  
  .active-aside & {
    transform: translateX(0);
  }

  .fancybox-close-small {
    display: none;
  }

  h2 {
    margin-bottom: rem-calc(26);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(21);
    }
  }

  .aside-inner-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70%;
    top: 28px;
    right: 26px;
    @include size(25px);
    background-color: $white;
    color: $primary;
    border-radius: 50%;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .aside-menu-item {
    padding: rem-calc(16 0);
    border-top: 1px solid rgba($white, 0.3);
    
    @include media-breakpoint-up(lg) {
      border-top: none;
      border-bottom: 1px solid $gray-400;
      padding: rem-calc(22 0 8);
    }
  }

  .aside-mobile-open-close {
    padding: rem-calc(19 0 18);

    @include media-breakpoint-up(lg) {
      padding: rem-calc(45 0 15);
    }
  }

  // .custom-check {
  //   .check-span {
  //     @include media-breakpoint-up(lg) {
  //       background-color: $gray-200;
  //     }
  //   }
  // }

}

.aside-bar-opener {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  background-color: $primary;
  color: $white;
  font-size: rem-calc(12);
  line-height: 2;
  padding: rem-calc(4 14);

  &:hover {
    color: $white;
    opacity: 0.7;
    text-decoration: none;
  }
  
  .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
    font-size: rem-calc(18);
    transform: rotate(90deg);
  }

  .count {
    &:before {
      content:'(';
      margin-left: 5px;
    }

    &:after {
      content:')';
    }
  }
}

// ASIDE SLIDE =========================
.aside-popup-holder {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.popup-side-wrap-left {
  &.fancybox-is-open {
    .fancybox-inner {
      transform: translateX(0);
    }

    .fancybox-bg {
      opacity: 0.3;
      
      @include media-breakpoint-up(lg) {
        opacity: 0.25;
      }
    }
  }
  
  .fancybox-inner {
    transform: translateX(-100%);
    @include animate(transform);
  }

  .fancybox-slide--html {
    padding: 0;
  }
}

.fancybox-active {
  position: relative;
  height: 100vh;
}

// ACCORDION ================================================
.menu-accordion {
  list-style: none;
  padding: 0;
  margin: rem-calc(0 0 12);
  line-height: 1.88;

  a {
    color: $white;

    @include media-breakpoint-up(lg) {
      color: $gray-700;
    }
  }

  ul {
    list-style: none;
    margin: rem-calc(0 0 4);
    padding: 0 0 0 49px;
    font-size: rem-calc(14);
    line-height: 2.15;

    @include media-breakpoint-up(lg) {
      padding: rem-calc(20 0 1 30);
    }

    a {
      &:hover {
        color: $warning;
        text-decoration: none;
      }
    }
  }

  >li {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(20);
    }
  }

  .menu-opener {
    display: inline-block;
    vertical-align: top;
    padding-left: rem-calc(6);
    
    @include media-breakpoint-up(lg) {
      padding-left: rem-calc(3);
    }
  }

  .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: rem-calc(12);
    font-size: 14px;
    color: $gray-400;
    line-height: 1.8;
    transform-origin: center center;
    @include animate(transform);
  }

  >.active {
    >.menu-opener {
      font-weight: 500;

      @include media-breakpoint-up(lg) {
        color: $warning;
        font-weight: normal;
      }

      .icon {
        transform: rotate(90deg);
        color: $warning;
      }
    } 
  }

  .menu-slide {
    a {
      @include media-breakpoint-up(lg) {
        display: block;
        padding: rem-calc(5 15);

        &:hover {
          color: $primary;
          background-color: $gray-200;   
        }
      }
    }
  }
}

// CHECKBOXES LIST ============================================
.list-checkbox {
  padding: rem-calc(0 0 0 10);
  margin: 0;
  list-style: none;

  @include media-breakpoint-up(lg) {
    padding: rem-calc(0 0 0 3);
  }

  li {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(6);
    }
  }

  a {
    color: $white;

    @include media-breakpoint-up(lg) {
      color: $gray-700;
    }
  }

  .custom-control {
    padding-left: 26px;
    font-size: rem-calc(14);
    font-weight: 400;
  }

  .custom-control-label {
    &:before,
    &:after {
      left: -26px;
      width: rem-calc(16);
      height: rem-calc(16);
    }

    &:after {
      background-color: $warning;
      color: $white;
    }

    &:before {
      @include media-breakpoint-up(lg) {
        background-color: $gray-200;
        border-color: $gray-200;
      }
    }
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    @include media-breakpoint-up(lg) {
      background-color: $gray-200;
      border-color: $gray-200;
    }
  }
}

// MOBILE OPEN CLOSE =========================================
.aside-mobile-opener {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 0;
  padding-left: rem-calc(7);

  &:before {
    content: "\e628";
    font-family: 'themify';
    color: $gray-200;
    font-size: 14px;
    margin-right: 12px;
  }

  @include media-breakpoint-up(lg) {
    cursor: default;
    padding-left: 0;
    margin-bottom: 20px;
    font-weight: 500;

    &:before {
      display: none;
    }
  }
}

.aside-mobile-active {
  >.aside-mobile-opener {
    padding-left: 0;

    &:before {
      position: absolute;
      top: 2px;
      left: calc(100% + 12px);
      color: $warning;
      transform: rotate(90deg);
    }
  }  
}

.aside-mobile-opener-slide {
  padding-top: rem-calc(8);

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

// DESCTOP OPEN CLOSE ===========================================
.aside-menu-opener {
  @include media-breakpoint-up(lg) {
    margin: rem-calc(17 0 0 30);
    font-size: rem-calc(14);
    color: $warning;

    &:after {
      content: "\e628";
      font-family: 'themify';
      display: inline-block;
      font-size: 90%;
      margin-left: rem-calc(5);
      transform: rotate(90deg);
      
    }
  }
}

.menu-open-close {
  &.active {
    .aside-menu-opener:after {
      transform: rotate(270deg);
    }
  }
}