#header {
  position: relative;
  // padding-top: rem-calc(6);
  background-color: $white;
  z-index: 3;
}

// TOP HEADER BAR ================================================================

.top-header-bar {
  background-color: $gray-100;
  font-size: rem-calc(12);
  padding-top: rem-calc(1);
  padding-bottom: rem-calc(7);
  padding-left: $mobile-padding-x;
  padding-right: $mobile-padding-x;
  
  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(11);
    padding-bottom: rem-calc(8);
    font-size: rem-calc(14);
  }
  
  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $warning;
    }

    &[href*="tel:"] {
      i {
        margin-right: rem-calc(8);
      }
    }
  }
}

.check-list {
  @extend %listreset;

  li {
    display: inline-block;
    vertical-align: top;

    &+li {
      @include media-breakpoint-up(lg) {
        margin-left: rem-calc(50);
      }
    }
  }

  .icon {
    margin-right: rem-calc(7);
  }
}

// BOTTOM HEADER BAR ================================================================
.bottom-header-bar {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(18);
  padding-right: $mobile-padding-x;
  padding-left: $mobile-padding-x;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// SEARCH FORM ===================================================================
.search-nav-form {
  .custom-search-label {
    position: relative;
    display: block;
    margin-bottom: 0;

    .form-control {
      background-color: $gray-200;
      border-color: $gray-200;
      padding-right: rem-calc(40);

      @include media-breakpoint-up(lg) {
        max-width: 180px;
      }
      
      @include media-breakpoint-up(xl) {
        max-width: 200px;
        height: 40px;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      font-size: 25px;

      @include media-breakpoint-up(lg) {
        right: 8px;
      }
    }
  }
}

// NAVIGATION =======================================================================
.burger-opener {
  position: relative;
  border: none;
  background-color: transparent;
  @include size(25px, 18px);
  padding: 0;
  z-index: 1;
  
  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $black;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left center;
    @include animate(transform);

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 17px;
    }
  }
}

.main-nav {
  margin-bottom: rem-calc(16);

  @include media-breakpoint-up(lg) {
    position: static;
    margin-bottom: 0;
    z-index: 1;
  }

  >a {
    font-size: rem-calc(18);
    
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: visible;
  width: 100%;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(43);
  padding-left: $mobile-padding-x;
  padding-right: $mobile-padding-x;
  border-top: $border-default;
  background-color: $white;
  transform: translateY(-100%);
  box-shadow: $box-shadow-sm;
  @include animate(transform opacity visibility top);
  z-index: 1;
  
  &:after {
    content:'';
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 166px;
    height: 1px;
    background-color: rgba($black, 0.1);
  }

  @include media-breakpoint-up(lg) {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: none;
    margin-right: rem-calc(20);
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    margin-right: rem-calc(23);
  }
  
  .search-nav-form {
    margin-bottom: rem-calc(37);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: rem-calc(20);
    }
    
    @include media-breakpoint-up(xl) {
      margin-right: rem-calc(30);
      max-width: 200px;
    }
  }
}

.main-nav-list {
  @extend %listreset;

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(18);
    padding-top: rem-calc(43);
    padding-bottom: rem-calc(40);
  }

  a {
    @include media-breakpoint-up(lg) {
      color: $black;
      position: relative;
      display: inline-block;
      line-height: 1.1;
      
      &:after {
        content:'';
        position: absolute;
        top: calc(100% + 14px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $orange;
        z-index: 1;
        transform-origin: left center;
        transform: scale(0);
        @include animate(transform);
      }
      
      &:hover,
      &.active-tab {
        text-decoration: none;
        
        &:after {
          transform: scale(1);
        }
      }
    }
  }

  li {
    &+li {
      @include media-breakpoint-up(lg) {
        padding-left: rem-calc(20);
      }

      @include media-breakpoint-up(xl) {
        padding-left: rem-calc(60);
      }
    }
  }
}

// NAV TABSET ==================================================
.nav-tabset-wrap {
  display: flex;

  @include media-breakpoint-up(md) {
    justify-content: flex-end;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: $white;
    padding: rem-calc(20 20 46);
    box-shadow: $box-shadow-lg;
    @include animate(opacity visibility);
  }
  
  .tab-content {
    width: 75%;
    padding-left: rem-calc(32);

    @include media-breakpoint-up(lg) {
      width: auto;
      padding: 0;
      display: flex;
      justify-content: space-between;
      max-width: 1172px;
      margin: 0 auto;
    }

    >div {
      @include media-breakpoint-up(lg) {
        width: 23%;
      }
    }
  }
}

.nav-tabset {
  @extend %listreset;
  font-size: rem-calc(18);
  line-height: 1.11;

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    max-width: 1172px;
    margin: 0 auto 24px;
  }
  
  li {
    margin-bottom: rem-calc(24);

    @include media-breakpoint-up(lg) {
      width: 23%;
      margin-bottom: 0;
    }
  }
  
  a {
    color: $black;
    position: relative;
    
    &:after {
      content:'';
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $orange;
      z-index: 1;
      transform-origin: left center;
      transform: scale(0);
      @include animate(transform);
    }
    
    &:hover,
    &.active-tab {
      text-decoration: none;
      
      &:after {
        transform: scale(1);
      }
    }
    
    @include media-breakpoint-up(lg) {
      display: inline-block;
      pointer-events: none;
      line-height: 2.22;
      
      &:after {
        top: 100%;
        transform: scale(1);
      }
    }
  }
}

.drop-nav-list {
  @extend %listreset;
  
  li {
    margin-bottom: rem-calc(14);
    
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(16);
    }
  }
  
  a {
    display: inline-block;
    vertical-align: top;
    color: $black;
    font-size: rem-calc(12);
    line-height: 1.3;

    @include media-breakpoint-up(xl) {
      font-size: rem-calc(15);
    }
  }
  
  .small {
    color: $gray-600;
  }
}

// ACTIVE NAV DROP =================================================================
.nav-drop-active {
  .nav-tabset-wrap {
    @include media-breakpoint-up(lg) {
      opacity: 1;
      visibility: visible;
    }
  }
}


// ACTIVE NAVIGATION ===============================================================
.nav-active {
  .burger-opener {
    span:nth-child(3) {
      transform: scale(0.6);
    }
  }
  
  .navbar-wrapper {
    top: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    @include media-breakpoint-up(lg) {
      transform: none;
    }
  }
}

// LOGO ================================================
.logo {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  font-size: rem-calc(18);
  width: 140px;
  height: 46px;
  line-height: 1.3;
  padding: 2px 3px 0 11px;
  z-index: 1;
  
  &:after {
    content: '&';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: rem-calc(61);
    color: $gray-400;
    line-height: 1;
    opacity: 0.4; 
    font-weight: 700;
    z-index: -1; 
  }

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(lg) {
    margin-right: rem-calc(10);
    margin-bottom: rem-calc(8);
    height: 48px;
  }
  
  @include media-breakpoint-up(xl) {
    flex-shrink: 0;
    height: 59px;
    width: 180px;
    line-height: 1;
    font-size: rem-calc(24);

    &:after {
      font-size: rem-calc(80);
      top: -6px;
    }
  }

  span {
    display: block;
    margin-top: auto;
  }
}

// HEADER LIST =====================================================
.header-list {
  @extend %listreset;
  text-align: center;
  font-size: rem-calc(12);
  line-height: 2.5;

  li {
    display: inline-block;
    vertical-align: top;

    &+li {
      margin-left: rem-calc(19);

      @include media-breakpoint-up(lg) {
        margin-left: rem-calc(22);
      }
    }
  }

  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: $warning;
    }

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(24);
    }
  }

  i {
    font-size: 24px;
    margin-right: rem-calc(6);
  }
}

// CART LINK ===========================================================
.cart-link {
  position: relative;
  font-size: rem-calc(24);
  z-index: 1;
  color: $black;
  padding-right: rem-calc(6);
  
  &.not-empty {
    &:before {
      content:'';
      position: absolute;
      bottom: 100%;
      right: -4px;
      @include size(10px);
      background-color: $orange;
      border-radius: 50%;
    }
  }
  
  &:hover {
    text-decoration: none;
    color: $warning;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 0;
  }
}