.cart-data-opener {
  padding: rem-calc(15 30 12 30);
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: rem-calc(27);
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;
  cursor: pointer;

  &.collapsed {
    .icon {
      transform: rotate(0);
    }
  }
  
  h2 {
    font-size: rem-calc(20);
  }
  
  .icon {
    display: inline-block;
    vertical-align: top;
    margin-left: rem-calc(11);
    transform: rotate(180deg);
  }

  .total-text {
    opacity: 0.6;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  // .total {
  //   &:before {
  //     content:'€ ';
  //   }
  // }
}

.cart-data-slide {
  margin-bottom: rem-calc(32);

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.cart-data-wrap {
  margin-bottom: rem-calc(35);

  @include media-breakpoint-up(lg) {
    padding: rem-calc(24 30 0);
    margin-bottom: 0;
  }

  .cart-product-item {
    margin-bottom: rem-calc(20);

    .title {
      margin-bottom: rem-calc(9);
    }

    .product-price {
      .price {
        margin-left: rem-calc(15);
      }
    }
  }

  .product-price {
    font-size: rem-calc(14);
  }

  .total-wrap {
    margin: rem-calc(0 0 40);
    background-color: transparent;
    padding: rem-calc(20 0 0);
    border-top: 1px solid $gray-400;
    font-size: rem-calc(16);

    .price {
      font-size: inherit;
    }
  }

  .shipping-info {
    background-color: $gray-100;
    font-size: rem-calc(14);
    line-height: 2.14;
    padding-top: rem-calc(20);

    @include media-breakpoint-up(lg) {
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: 0;
    }
    
    h3 {
      margin-bottom: rem-calc(26);
    }
    
    ul {
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .shipping-price {
      @include media-breakpoint-up(lg) {
        font-size: inherit;
      }
    }
  }
}

.main-form-checkout-wrap {
  @include media-breakpoint-up(lg) {
    padding: rem-calc(32 30 30);
  }
}

.float-bg {
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    &:after {
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100vw;
      z-index: -1;
      background-color: $gray-200-l;
    }
  }
}

// lightbox addresses ================================
.lightbox-addresses-wrap {
  width: calc(100% - 36px);
  padding: rem-calc(30 28 22);
  font-size: rem-calc(14);

  @include media-breakpoint-up(md) {
    max-width: 720px;
    width: 100%;
    padding: rem-calc(42 60 40);
    font-size: rem-calc(16);
  }

  .fancybox-close-small {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      top: 18px;
      right: 17px;
      padding: 6px;
    }
  }

  h3 {
    font-size: rem-calc(22);
    line-height: 1.5;
    
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(28);
    }
  }

  .custom-radio {
    line-height: 1.7;
  }

  .btn {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
      min-width: 118px;
    }
  }
}