.products-preview-section {
  padding: rem-calc(15 0 30);

  @include media-breakpoint-up(xl) {
    padding: rem-calc(30 30 0);
  }
}

.products-preview-grid {
  display: flex;
  flex-wrap: wrap;

  .item-link {
    position: relative;
    display: block;
    width: 50%;
    background-color: $primary;
    // border: 1px solid $white;
    color: $white;
    padding-top: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;

    &:after {
      content:'';
      @include absolute();
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba($black, 0.5));
      z-index: -1;
      @include animate(opacity);
    }

    &:hover {
      &:after {
        opacity: 0;
      }
      
      .bg-img {
        transform: scale(1.05);
      }
    }

    @include media-breakpoint-up(lg) {
      width: 25%;
      padding-top: 25%;
    }

    @include media-breakpoint-up(xl) {
      width: calc(25% - 30px);
      margin: rem-calc(0 15 30);
      padding-top: calc(25% - 30px);
    }
  }
  
  .text {
    @include absolute();
    padding: rem-calc(14 20 0);
    font-size: rem-calc(14);
    overflow: hidden;

    @include media-breakpoint-up(md) {
      font-size: rem-calc(20);
    }
    
    @include media-breakpoint-up(xl) {
      padding: rem-calc(14 35 20);
    }
  }

  h2 {
    font-size: rem-calc(20);
    line-height: 1.88;
    
    @include media-breakpoint-up(md) {
      font-size: rem-calc(32);
      margin-bottom: 0;
      line-height: 1.8;
    }
  }

  .bg-img {
    @include absolute();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include animate(transform);
  }
}