{% if currentUser %}
    {% redirect 'shop/customer' %}
{% endif %}

{% extends 'shop/_layouts/main' %}

{% block body %}
<div class="bg-white">
    <div id="main" class="container mx-auto p-6">
        <div class="row padding-top">
            <div class="col-sm-8">
                <h1>{{ "Reset password"|t }}</h1>
                <p>{{ "Forgot your password? Enter your email, and you will receive email with reset password link."|t }}</p>
            </div>
        </div>
        <div class="row">
            <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ redirectInput('shop/customer/password/requested') }}
                <input type="hidden" name="action" value="users/send-password-reset-email">

                {% if errors is defined %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="field">
                    <label for="loginName">Email</label>
                    <input id="loginName" type="text" name="loginName"
                           value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
                </div>
                <div class="buttons">
                    <input type="submit" value="{{ "Reset password"|t }}" class="button button-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
