{% extends 'shop/_layouts/main' %}

{% block body %}
<div class="bg-white">
    <div id="main" class="container mx-auto p-6">
        <div class="row padding-top" id="resetRequested">
            <div class="col-md-8">
                <h1>{{ "Reset password email has been sent"|t }}</h1>
                <p>{{ "Check you email and follow directions from you email."|t }}</p>
                {% if currentUser %}
                    <a href="{{ url('shop/customer') }}" class="btn btn-primary">{{ "Back to account page"|t }}</a>
                {% else %}
                    <a href="{{ url('shop/login') }}" class="btn btn-primary">{{ "Back to Login"|t }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
